/*
 * Nextflow configuration
 * Localized long-read assembly workflow
 */

/*
 * Default parameters
 */
params {
    params.queue_size = 18
    samples = 'config/samples.tsv'
    reference = null
    haplotype_config = null

    outdir = 'results'

    // Hifiasm
    hifiasm_args = ''

    // Minimap2
    minimap2_preset = 'asm5'
    minimap2_args = ''

    // Alignment analysis defaults
    large_indel_threshold = 40000
    min_region_coverage = 0.85

    // Read statistics QC
    min_median_read_length = 5000

    // Across-group assembly comparison QC
    group_similarity_threshold = 90.0
}


/*
 * Default process settings
 */

process {

    executor = 'slurm'

    // adding apptainer module to process
    module = 'apptainer'

    // Use the same Apptainer image for all processes.
    container = "${projectDir}/long_read_local_asm.sif"

   /*
    * Validate user-supplied inputs from samples.tsv
    */
  
    withName: VALIDATE_INPUTS {
    	cpus = 1
    	memory = '4GB'
	time = '6h'
    }


    /*
     * Calculate fold enrichment between genes and genome
     */
    withName: COVERAGE_QC {
    	cpus   = 1
   	memory = '32 GB'
	time = '6h'
     }

    /*
     * Combine coverage qc into 1 summary text file
     */

     withName: COMBINE_QC {
    	 cpus   = 1
    	 memory = '4 GB'
     }

    /*
    * Read statistics
    */

     withName: READ_STATS {
    	 cpus = 1
    	 memory = '8 GB'
    	 time = '4h'
     }

    /*
     * Combine read statistics
     */

     withName: COMBINE_READ_STATS {
    	 cpus = 1
    	 memory = '4 GB'
    	 time = '1h'
     }


    /*
     * Extract target-region reads from the input BAM.
     */
    withName: EXTRACT_READS {
        cpus = 2
        memory = '8 GB'
    }

    /*
     * Convert regional BAM to FASTQ.
     */
    withName: BAM2FASTQ {
        cpus = 2
        memory = '8 GB'
    }

    /*
     * Localized hifiasm assembly.
     */
    withName: HIFIASM {
        cpus = 16
        memory = '64 GB'
    }

    /*
     * Convert hifiasm GFA output to FASTA using
     * the custom Rust gfa2fasta utility.
     */
    withName: GFA2FASTA {
        cpus = 1
        memory = '4 GB'
    }

    /*
     * Align assembled contigs back to the reference.
     */
    withName: ALIGN_CONTIGS {
        cpus = 8
        memory = '16 GB'
    }

    /*
     * Sort and index contig alignments.
     */
    withName: SORT_INDEX {
        cpus = 4
        memory = '8 GB'
    }

   /*
    * Select which samples have complete contiguous haplotype sequences
    * 	for downstream processing
    */

    withName: SELECT_CONTIGUOUS_PAIRS {
   	 cpus = 1
   	 memory = '4 GB'
   	 time = '1h'
    }

   /*
    * Reconstruct haplotype sequences from aligned bam files
    */
    withName: RECONSTRUCT_SEQUENCE {
    	 cpus = 1
    	 memory = '4 GB'
    	 time = '1h'
     }

   /*
    * Recording differences between assembly & reference genome sequences
    */
    withName: NOTE_ASSEMBLY_DIFFERENCES {
    	cpus = 1
    	memory = '4 GB'
    	time = '2h'
    }

   /*
    * Merging differences across haplotypes for the same sample, gene, flank, group
    */
    withName: MERGE_ASSEMBLY_DIFFERENCES {
    	cpus = 1
    	memory = '4 GB'
    	time = '2h'
     }

    /*
     * Compare variants across groups
     */

     withName: COMPARE_GROUP_DIFFERENCES {
    	cpus = 1
    	memory = '4 GB'
    	time = '2h'
     }

    /*
     * Across-group haplotype comparison
     */
     withName: ACROSS_GROUPS_COMPARISON {
    	 cpus = 2
    	 memory = '8 GB'
    	 time = '6h'
     }

    /*
     * Calculate assembly/alignment summary statistics.
     */
    withName: SUMMARIZE {
        cpus = 1
        memory = '4 GB'
    }

   /*
    * Generate an HTML report from summaries
    */

	withName: GENERATE_REPORT {
    		cpus = 1
    		memory = '4 GB'
    		time = '1h'
	}

}


/*
 * Apptainer/Singularity settings
 */

apptainer {
    enabled = true
    autoMounts = true
}


/*
 * Execution settings
 */

executor {
    queueSize = params.queue_size
}


/*
 * Workflow reporting
 */

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.tsv"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
}


/*
 * Nextflow working directory.
 */

workDir = 'work'


/*
 * General workflow behavior.
 */

cleanup = false
